@model Kullanici

<p>
    <b>@Model.KullaniciAd @Model.KullaniciSoyad</b> isimli Kullan覺c覺y覺 silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.KullaniciId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hay覺r</a>
    </form>
</p>