@model DalbudakSigorta.Data.Police

<p>
    <b>@Model.Musteri?.MusteriAd</b> isimli müşterinin poliçesini ve ilgili araç kaydını silmek istiyor musunuz?
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.PoliceNo">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>
